

@font-face {
	font-family: 'Formula Condensed';
	src: url('../fonts/FormulaCondensed-Regular.woff2') format('woff2'),
			url('../fonts/FormulaCondensed-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Formula Condensed';
	src: url('../fonts/FormulaCondensed-Bold.woff2') format('woff2'),
			url('../fonts/FormulaCondensed-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Formula Condensed';
	src: url('../fonts/FormulaCondensed-Light.woff2') format('woff2'),
			url('../fonts/FormulaCondensed-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
			url('../fonts/MaisonNeue-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
			url('../fonts/MaisonNeue-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}