h1 {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  color: $white;
  font-family: "acumin-pro-wide";
  letter-spacing: -1px;
  line-height: 1.1;
  
  em {
    font-weight: 900;
  }

  @include mobile {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: $white;
  text-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  // text-align: center;
}