h1 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  color: $white;

  @include mobile {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

h2 {
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: $white;

  text-align: center;
}