h1, h2, h3, h4, h5, h6 {
  font-family: 'Formula Condensed';
  font-weight: normal;
}

h1 {
  font-size: 2.1rem;
  font-style: normal;
  color: $grey;
  letter-spacing: -1px;
  line-height: 1.1;
  
  em {
    font-weight: 400;
    color: $white;
  }

  @include mobile {
    // font-size: 1.3rem;
  }
}

h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: bold;
  color: $white;
  text-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  margin-bottom: 0;
  // text-align: center;
}


h3 {
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-bottom: 0;
}