h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: $white;
  line-height: 1;

  @include mobile {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: $white;
  text-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  // text-align: center;
}