$primary: rgba(0,0,0,0.9);
$secondary: #041367;
$secondary2: #90a0ff;
$black: #000317;
$white: #FEFEFE;
$grey: #e8e8e8;

$max-width: 1200px;
$em-base: 16;
$min-margin-h: 20px;
$min-margin-v: 2rem;

$easing: cubic-bezier(.65,.05,.36,1);

// mixins for responsive
@mixin mobile() {
  @media only screen and (max-width: 766px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (min-width: 767px) {
    @content;
  }
}

@mixin not-desktop() {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: $max-width) {
    @content;
  }
}

@mixin wide() {
  @media only screen and (min-width: $max-width + 400px) {
    @content;
  }
}