@import "vars";
@import "normalize";

html, body {
  font-family: "futura-pt", -apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”,
  “Ubuntu”, “Cantarell”, “Fira Sans”,
  “Droid Sans”, “Helvetica Neue”, sans-serif;;
  color: $secondary;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body, header, div, section, header, main, article, a {
  box-sizing: border-box;
}

body.home {
  background-color: $primary;
}

@import "typography";

@import "components/header";