@import "fonts";
@import "vars";
@import "helpers";
@import "normalize";

html, body {
  font-family: "Maison Neue", -apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”,
  “Ubuntu”, “Cantarell”, “Fira Sans”,
  “Droid Sans”, “Helvetica Neue”, sans-serif;;
  color: $secondary;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin: 0; 
}

body, header, div, section, header, main, article, a {
  box-sizing: border-box;
}

body {
  background: $grey;
  margin: 0;
  transition: background 0.5s $easing;
}

::selection {
  background-color: $secondary;
  color: $white;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: $primary;

}

.works-nav {
  font-family: 'moret', serif;
  font-size: 1.3rem;

  @include mobile {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  @include tablet {
    position: absolute;
    bottom: $min-margin-v;
    z-index: 100;
  }

  &:hover {
    .works__link {
      opacity: 0.7;
    }
  }
  
  @include desktop {
    // max-width: 200px;
    display: flex;
    flex-direction: column;
  }
}

.works-nav--inline {
  position: relative !important;
}

.works-nav--inline-block {
  position: relative !important;
  margin: 0 $min-margin-h;
  bottom: auto;
  z-index: 100;
}

$bulletWidth: 10px;
$bulletHeight: 2px;
$bulletMargin: 10px;

.works-nav--with-bullet {
  .works-nav__link {
    &:before {
      width: $bulletWidth !important;
      height: $bulletHeight !important;
      margin-right: $bulletMargin;
    }
    &:hover {
      color: $grey;

      &:before {
        background-color: $grey;
      }
    }
  }
}
  
.works-nav__link {
  color: $white;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  padding-left: 0.125rem;
  // max-width: 200px;
  transition: all 0.2s $easing;
  font-family: 'moret', serif;
  font-size: 1.2rem;
  font-weight: 300;
  order: 1;
  opacity: 0.5;
  
  &:before {
    content: "";
    width: 0;
    height: 0;
    margin-right: 0;
    background-color: $white;
    transition: all 0.2s $easing;
  }
  
  &.works-nav__link--current, &:hover {
    font-weight: bold;
    // font-size: 1.5rem;
    opacity: 1;
    // transform: skewX(-6deg);

    // &:before {
    //     width: $bulletWidth;
    //     height: $bulletHeight;
    //     margin-right: $bulletMargin;
    //     transform: scale(1);
    // }
  }

  &:hover {
    // font-size: 1.3rem;
  }
}

.works-nav__link--blue {
  color: $primary;

  &:before {
    background-color: $primary;
  }

  &:hover:before {
    width: $bulletWidth;
    height: $bulletHeight;
  }
}

.works-nav__link--accent {
  color: var(--accent);

  &:before {
    background-color: var(--accent);
  }
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.wrapper--full {
  max-width: none;
  height: 100%;
  margin: 0 $min-margin-h;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  transition: all 0.2s $easing;
  z-index: 10;

  &.overlay--show {
    @include desktop {
      opacity: 1;
    }
  }
}

.works-nav__divider {
  order: 2 !important;
  display: none;

  @include desktop {
    display: inline;
  }
}

.works-nav__dropdown {
  display: none;
  order: 2;

  @include desktop {
    display: flex;
  }

  a {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    font-size: 1rem;
    align-items: center;
    border-radius: 0.375rem;
    transition: color 0.15s ease, background-color 0.15s ease;
    text-align: left;
    color: rgb(31, 41, 55);

    @include desktop {
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
    }

    &:hover,
    &:focus-visible {
      background-color: rgb(249, 250, 251);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }


  button {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-left: 0.125rem;
    // padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    // border-radius: 0.5rem;
    // box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    // background-color: white;
    color: rgb(31, 41, 55);
    border: none;
    // border: 1px solid rgb(229, 231, 235);

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  .panel {
    position: absolute;
    left: 0;
    min-width: 12rem;

    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    margin-top: 0.5rem;
    z-index: 10;
    transform-origin: top left;
    background-color: white;
    padding: 0.375rem;
    outline: none;
    border: 1px solid rgb(229, 231, 235);
  }
}

main.main {
  position: relative;
  z-index: 150;
}

// if browser is webp compatible
.webp {

  // not working yet: https://stackoverflow.com/a/26968351
  // [data-webp-bg] {
  //   background-image: url(attr(data-webp-bg url));
  // }
}

@import "typography";
@import "components/portfolio";
@import "components/header";
@import "components/winterfell";
@import "components/footer";
@import "components/single";
@import "components/wheelie";

@import "components/wp-block-quote";
@import "components/ninja-form";

@import "posts/36";