@import "vars";
@import "helpers";
@import "normalize";

html, body {
  font-family: "futura-pt", -apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”,
  “Ubuntu”, “Cantarell”, “Fira Sans”,
  “Droid Sans”, “Helvetica Neue”, sans-serif;;
  color: $secondary;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin: 0; 
}

body, header, div, section, header, main, article, a {
  box-sizing: border-box;
}

body {
  background: $grey;
  margin: 0;
}

::selection {
  background-color: $secondary;
  color: $white;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: $primary;

}

.works-nav {
  @include tablet {
    position: absolute;
    bottom: $min-margin-v;
    z-index: 100;
  }
  &:hover {
    .works__link {
      opacity: 0.7;
    }
  }
  
  @include desktop {
    max-width: 200px;
    margin-top: 5vh;
    
  }
}

.works-nav--inline {
  position: relative !important;
}

.works-nav--inline-block {
  position: relative !important;
  margin: 0 $min-margin-h;
  bottom: auto;
  z-index: 100;
}

$bulletWidth: 10px;
$bulletHeight: 2px;
$bulletMargin: 10px;

.works-nav--with-bullet {
  .works-nav__link {
    &:before {
      width: $bulletWidth !important;
      height: $bulletHeight !important;
      margin-right: $bulletMargin;
    }
    &:hover {
      color: $grey;

      &:before {
        background-color: $grey;
      }
    }
  }
}
  
.works-nav__link {
  color: $white;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  margin-left: -10px;
  max-width: 200px;
  transition: all 0.2s $easing;

  &:before {
    content: "";
    width: 0;
    height: 0;
    margin-right: 0;
    background-color: $white;
    transition: all 0.2s $easing;
  }
  
  &:hover {
    opacity: 1;
    &:before {
      width: $bulletWidth;
      height: $bulletHeight;
      margin-right: $bulletMargin;
      transform: scale(1);
    }
  }
}

.works-nav__link--blue {
  color: $primary;
  font-weight: normal;

  &:before {
    background-color: $primary;
  }

  &:hover:before {
    width: $bulletWidth;
    height: $bulletHeight;
  }
}

.works-nav__link--current {
  font-weight: bold;

  &:before {
      width: 16px !important;
      height: 3px !important;
      margin-right: $bulletMargin;
      transform: scale(1);
  }
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.wrapper--full {
  max-width: none;
  height: 100%;
  margin: 0 $min-margin-h;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  transition: all 0.2s $easing;
  z-index: 10;

  &.overlay--show {
    opacity: 1;
  }
}

main.main {
  position: relative;
  z-index: 150;
}

@import "typography";
@import "components/portfolio";
@import "components/header";
@import "components/winterfell";
@import "components/footer";
@import "components/single";
@import "components/wheelie";

@import "components/wp-block-quote";
@import "components/ninja-form";

@import "posts/36";