body.home {
  background: $primary;
}

.home {
  color: $white;

  .footer {
    display: none;
  }
  
  > .header {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    margin-top: 0;

    .links__item {
      color: $white;
      opacity: 0.8;

      @include desktop {
        opacity: 0.9;
      }

      &:hover {
        color: $black;
      }
    }
  }
  
  main {
    padding-top: $min-margin-v;
    margin-bottom: inherit;
    position: static;

    @include tablet {
      padding-top: $min-margin-v;
    }

    h1 {
      transition: all 0.2s $easing;
      margin: 0;
    }

    h1.h1--hide {
      opacity: 0;
      transform: translateY(20px);
    }

    @include tablet {
      .wrapper {
        max-width: 65vw;
      }
    }

    @include desktop {
      .wrapper {

        max-width: 60vw;
      }
    }
  }

  > footer {
    margin-top: auto;
  }
}

#page-36 {

}