body.home {
  background-color: $primary;
  color: $white;
  margin-top: $min-margin-v;

  > header {
    margin-top: 0;
  }

  > main {
    h1 {
      transition: all 0.2s $easing;
    }

    h1.h1--hide {
      opacity: 0;
      transform: translateY(20px);
    }

    @include desktop {
      > .wrapper {
        max-width: 35vw;
      }
    }
  }

  > footer {
    margin-top: auto;
  }
}

#page-36 {

}