.footer {
  width: 100%;
  height: 100vh;
  background-color: $white;
  color: $primary;

  @include desktop {

    overflow: hidden;
  }
}

.footer--active {
  .works-nav, .footer__text {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

.footer__wrapper {
  width: 100%;
  min-height: 100vh;
  bottom: 0;
  z-index: 80;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $black;
  
  @include desktop {
    position: fixed;
    flex-direction: row;
    align-content: flex-start;
  }

}

.footer__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
  pointer-events: none;
}

.footer__form {
  position: relative;
  z-index: 100; 

  flex: 1;
  padding: 3rem 1rem 0rem;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;

  @include desktop {
    padding: 4rem 2rem;
  }
}

.footer__text {
  padding: 6rem $min-margin-h;
  z-index: 100;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s $easing;

  font-weight: 300;
  color: $white;
  font-family: 'Formula Condensed';
  font-size: 1.6rem;

  @include desktop {
    // max-width: $max-width;
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: auto;
    flex: 1.5;  
    align-items: center;
    display: flex;
  }

  a {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    color: $white;
    border-bottom: solid 3px $white;
    transition: all 0.3s $easing;

    &:hover {
      border-bottom: solid 5px $white;
    }
  }

}