.footer {
  width: 100%;
  height: 100vh;
  background-color: $white;
  color: $primary;
  overflow: hidden;
}

.footer__wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  z-index: 80;
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $black;

  .works-nav__link:hover:before {
    width: 16px !important;
  }
}

.footer__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
}

.footer__text {
  padding: 0 $min-margin-h;
  z-index: 100;

  @include desktop {
    max-width: $max-width;
  }

  a {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: bold;
    padding: 0px 5px;
    margin: 0;
    color: $white;
    border-bottom: solid 3px $white;
    transition: all 0.3s $easing;

    &:hover {
    border-bottom: solid 5px $white;
    }
  }

}