.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  padding: 0 $min-margin-h;
  
}

#header__svg {
  opacity: 0;
  transition: all 0.2s $easing;
  transform: translateY(-20px);

  &.--show {
    pointer-events: all;
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  #logo-svg {
    fill: $white;
  }
}

.header__nav {
  align-self: flex-end;
}