.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 200;
  padding: 0 $min-margin-h;
  
}

#header__svg {
  opacity: 0;
  transition: all 0.2s $easing;
  transform: translateY(-20px);

  &.--show {
    pointer-events: all;
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  #logo-svg {
    fill: $white;
  }
}

.header__nav {
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.links {
  order: 1;
}

.header__nav-icon {
  width: 33px;
  height: 14px;
  position: relative;
  order: 2;

  &:before, &:after {
    content: "";
    width: 33px;
    height: 3px;
    background-color: $white;
    position: absolute;

    transition: all 0.2s $easing;
  }

  &:before {
    top: 0;
    transform: translateX(-10px);
  }

  &:after {
    bottom: 0;
    transform: translateX(10px);
  }

  &:hover {
    cursor: pointer;

    &:before {
      transform: translateX(-5px);
    }

    &:after {
      transform: translateX(5px);
    }
  }
}