.contact-form {
  width: 100%;
  font-family: 'Maison Neue';

  .label-left .nf-field-label {
    width: 25%;
    text-align: left;
  }

  .nf-form-fields-required {
    font-size: 0.7rem;
    display: none;
  }

  .nf-form-layout > form > div {
    display: flex;
    flex-direction: column;

    .nf-before-form-content {
      order: 1;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .nf-form-content {
      order: 2;
      margin: 0;
    }

    .nf-after-form-content {
      order: 3;
    }
  }

  .nf-form-content label {
    text-transform: uppercase;
    font-size: 0.75rem !important;
    font-weight: normal;
  }

  .nf-after-field {
    font-size: 0.8rem;
  }

  // selects
  .nf-form-content select.ninja-forms-field {
    color: $primary;
  }

  // textareas and inputs
  .nf-form-content .list-select-wrap .nf-field-element > div, .nf-form-content input:not([type="button"]), .nf-form-content textarea {
    border: none;
    border-bottom: 1px solid $primary;
    background: transparent ;
    color: $primary;

    &:focus {
      color: $primary;
    }
  }

  // buttons
  .nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"] {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .nf-error-msg {
    font-size: 0.8rem;
  }

  .nf-form-content button, .nf-form-content input[type="button"], .nf-form-content input[type="submit"] {
    background-color: $primary;
    font-family: 'Formula Condensed';
    font-size: 1.3rem;
    padding: 7px 14px;
    text-align: center;
    display: block;
    width: 100%;
    letter-spacing: 2px;
  }
}