.portfolio {
  background-color: $grey;
}

.portfolio__header {
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 70;
  background-position: center center;
}

.portfolio__title {
  // background-color: $primary;
  background-position: center center;
  color: $white;
  font-weight: bold; 
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px 20px;

  @include tablet {
    font-size: 4rem;
  }

  @include desktop {
    font-size: 5rem;
    max-width: 75%;
  }
}

.portfolio__description {
  margin-top: 0rem;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.2s $easing;
  width: 100%;
  text-align: center;

  @include desktop {
    text-align: left;
  }
}

.portfolio__description--show {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__body-wrapper {
  width: 100%;
  padding: $min-margin-v * 2 $min-margin-h 0;
  background-color: $grey;
  position: relative;
  z-index: 200;
  
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
  @include desktop {
    padding: $min-margin-v calc(#{$min-margin-h} + 40px) $min-margin-v $min-margin-h;
    flex-direction: row;
  }
}

.portfolio__sidebar {
  order: 1;
  width: 100%;

  @include desktop {
    order: 1;
    width: 40%;
    position: -webkit-sticky;
    margin-top: 3rem;
    min-width: 300px;
  }

  @include wide {
    max-width: 500px;
  }

  .works-nav {
    margin-top: 3rem;
    margin-bottom: 1rem;

    @include desktop {
      display: inline-flex;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.portfolio__body {
  order: 2;
  width: 100%;
  text-align: center;

  @include not-desktop {
    display: none;
  }

  @include desktop {
    // margin-left: 5%;
    // width: 85%;
    position: sticky;
    top: 0;
  }

  // start of text styling selectors

  p:first-child {
    margin-top: 0;
  }
}

.portfolio__masonry {
  width: 100%;
  margin: 1rem 0 1rem;
 
  @include desktop {
    margin-top: 1rem;
  }
}

.portfolio__masonry-item-sizer, .portfolio__masonry-item {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;

  @include tablet {
    width: calc(50% - 20px);
  }

  @include desktop {
    width: calc(33.33% - 10px);
  }

  // @include wide {
  //   width: calc(20% - 10px);
  // }
}

.portfolio__masonry-view-more {
  @include tablet {
    display: none;
  }
}

.portfolio__masonry-item {

  @include desktop {
    filter: grayscale(1);
  }

  &:hover {
    filter: grayscale(0);
    cursor: zoom-in;

    img {
      transform: scale(1.1);
      transform-origin: center center;
      // opacity: 0.6;
    }
  }

}

.portfolio__masonry-description {
  width: 100%;
  text-align: center;
  padding: 0.5em 1em 1em;

  h2 {
    color: $secondary;
    text-shadow: none;
    font-weight: normal;
  }

  h4 {
    font-family: 'moret';
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0;
  }

  @include desktop {
    display: none;
  }
}

// Desktop-only filtering for project dropdown
@include desktop {
  .portfolio__masonry-item.filtered-out {
    display: none;
  }
}



// accordion function

@include not-desktop {

  .portfolio__masonry-description {
    &:before {
      content: '';
      display: block;
      border-top: solid 1px $primary;
      width: 50%;
      margin: 2rem auto calc(0.5rem + 10px);
    }
  }

  .portfolio__masonry-view-more {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0.5rem;

    &:not(.portfolio__masonry-item--active) {
      display: none;
    }
  }

  .portfolio__masonry-description ~ .portfolio__masonry-item:not(.portfolio__masonry-description):not(.portfolio__masonry-view-more) {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
  }
  
  .portfolio__masonry-description + .portfolio__masonry-item:not(.portfolio__masonry-description), .portfolio__masonry-item--active {
    opacity: 1 !important;
    max-height: none !important;
    margin-bottom: 10px !important;
  }

  .portfolio__masonry-item--active:after {
    display: none !important;
  }
}

.portfolio__masonry-img {
  width: 100%;
  transition: all 0.4s $easing;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  transform: translateY(100%);

  @include desktop {
    opacity: 1;
    transform: translateY(0px);
  }
}

.portfolio__masonry-img--show {
  opacity: 1;
  transform: translateY(0px);
}

.portfolio__masonry-pic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  // background: #f0f0f0;
}

.gallery {
  padding: 5vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery__frame {
  max-height: 85vh;
  image-rendering: auto;
}

.gallery__photo {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.gallery__description {
  padding: 1rem;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.8rem;
}