.portfolio__header {
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__title {
  // background-color: $primary;
  background-position: center center;
  color: $white;
  font-weight: bold; 
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  padding: 10px 20px;

  @include tablet {
    font-size: 5rem;
  }

  @include desktop {
    font-size: 5rem;
  }
}

.portfolio__description {
  margin-top: 3rem;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.2s $easing;
}

.portfolio__description--show {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__body-wrapper {
  width: 100%;
  padding-left: $min-margin-h;
  padding-right: $min-margin-h;
  padding-top: $min-margin-v;
  background-color: $grey;
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.portfolio__sidebar {
  order: 2;

  @include desktop {
    order: 1;
    width: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    min-width: 170px;
  }
}

.portfolio__body {
  order: 1;
  width: 100%;
  text-align: center;

  @include desktop {
    order: 2;
    margin-left: 5%;
    width: 85%;
  }
}

.portfolio__masonry {
  width: 100%;
}

.portfolio__masonry-item {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;

  @include tablet {
    width: calc(33.33% - 10px);
  }

  @include desktop {
    width: calc(20% - 10px);
  }

  &:hover {
    img {
      transform: scale(1.1);
      transform-origin: center center;
      opacity: 0.6;
    }
  }
}

.portfolio__masonry-img {
  width: 100%;
  transition: all 0.2s $easing;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
}

.portfolio__masonry-img--show {
  opacity: 1;
}

.portfolio__masonry-pic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  background: #f0f0f0;
}