#wheelie {
  overflow: hidden;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &:before, &:after {
    background-color: $white;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &:before {
    transform: translateX(-100%);
    left: 0;
  }

  &:after {
    transform: translateX(100%);
    right: 0%;
  }

  &.wheelie--loaded:before, &.wheelie--loaded:after {
    transition: all 0.4s $easing;
  }
  
  &.wheelie--active, &.wheelie--init {
    pointer-events: all;

    &:before, &:after {
      transform: translateX(0);
    }
  }
}