.wp-block-quote {
  
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0;
  margin-bottom: 2rem;
  
  font-style: italic;

  @include desktop {
    font-size: 1.4rem;
  }

  cite {
    font-weight: normal;
    font-style: normal;
    line-height: 1rem;
    display: inline-block;
    font-size: 1rem;
  }
}