{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" data-barba="wrapper">
		<div id="wheelie" class=""></div>
		<header class="header">
			{% block header %}
					<a class="header__logo" href="{{site.url}}" rel="home">
						{{ source("/static/images/logo--textless--white.svg" )}}
					</a>
					<nav class="header__nav" role="navigation">
						{% if menu.get_items.length > 1 %}
							<div class="header__nav-icon"></div>
						{% endif %}
							{% include "menu.twig" with {'menu': menu.get_items} %}
						
					</nav><!-- #nav -->
			{% endblock %}
		</header>

		<main id="content" role="main" class="main">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock %}
		<script></script>
			{{ function('wp_footer') }}
	</body>
</html>
