			<footer id="contact" class="footer" data-daybreak="header--white">
				<div class="footer__wrapper">
					<div class="footer__overlay {{ test }}" style="background-image: url({{footer.bg.src}})"></div>
					<div class="footer__text">
						{{ footer.text }}
					</div>
					<div class="footer__form contact-form">
					<h3>We would love to hear from you:</h3>
					{{"[ninja_form id=1]"|shortcodes}}
					</div>
				</div>
			</footer>