{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper" data-template="single-portfolio.twig">
    <article class="article">
      <header class="article__header" style="background-image: url({{post.thumbnail.src}})">
        <h1 class="article__title">{{post.title}}</h1>
      </header>
    </article>
  </div><!-- /content-wrapper -->
{% endblock %}